.bigContainer{
    border: 1px solid red;
    display: flex;
    flex-direction: column; 
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    height: 150px;

}

.bubblesContainer{
    border: 1px solid green;
    display: flex;
    flex-direction: row; 
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
    overflow:auto;
    width:85%;
    margin: 15px 10px 10px 10px;

    
   
    
}

